.vscode/
.venv/
data/
__pycache__/
.idea/
.vercel

*.pyc
*.pyo
.DS_Store
.env

jfp-data-warehouse-9f38615b5871.json
cru-ga4-prod-1-63a3434e5a2a.json

# Allow only the specific files under data and subdirectories
data/**
!data/video-ids-demo.csv